{% extends 'base.html' %} 

{% block content %}
<p class="text-bg-dark text-center p-1"> About BlogO </p>
<main>
	<p>Welcome to our blog! We are a group of passionate writers and creatives who love to share our experiences, thoughts, and ideas with the world.</p>

	<p>Our mission is to inspire, educate, and entertain our readers through our content. We cover a wide range of topics, from travel and lifestyle to technology and business. Our goal is to provide you with valuable insights and perspectives that you won't find anywhere else.</p>

	<p>Thank you for visiting our blog. We hope you enjoy reading our posts as much as we enjoy creating them. If you have any questions or feedback, please don't hesitate to contact us.</p>
</main>

{%endblock %}
